/_intdir/
/_outdir/
/bin/
/enet-1.3.3/
/GamedataSource/
/built_projects/
/nvidia-texture-tools/
/*.lnk
/cmake_build/
/platform_win32/
/platform_win64/
/tools/viewer/src/lua/builder_script.inl
/cmake64
/*.sublime-workspace
/build/build.timestamp.txt
/deploy/game
*.unity.cpp
*.unity.c
/external/libogg/Makefile
/external/libogg/*.log
/external/libogg/*.status
/external/libogg/doc/Makefile
/external/libogg/doc/libogg/Makefile
/external/libogg/include/Makefile
/external/libogg/include/ogg/Makefile
/external/libogg/libtool
/external/libogg/*.pc
/external/libogg/src/*.deps/
/external/libogg/src/Makefile
/external/libogg/stamp-h1
