*.unity.c
*.unity.cpp
/*.lnk
/*.sublime-workspace
/*.user
/data/
/data
/external/libogg/*.log
/external/libogg/*.pc
/external/libogg/*.status
/external/libogg/doc/libogg/Makefile
/external/libogg/doc/Makefile
/external/libogg/include/Makefile
/external/libogg/include/ogg/Makefile
/external/libogg/libtool
/external/libogg/Makefile
/external/libogg/src/*.deps/
/external/libogg/src/Makefile
/external/libogg/stamp-h1
/external/nvidia-texture-tools/*.user
/external/nvidia-texture-tools/build
/external/nvidia-texture-tools/Makefile
/GamedataSource/
/heart/src/events/hPublisher_gen.inl
/tools/builder/src/lua/*.inl
/tools/viewer/src/lua/builder_script.inl
tools/pkginspector/src/type_database.*
tools/proto/src/proto_lua.cpp

# Third party deps
external/SDL2/*
external/freetype/*
external/glew/*
external/nvtt/*
external/protobuf/vs2015/*