/_intdir/
/_outdir/
/bin/
/enet-1.3.3/
/GamedataSource/
/built_projects/
/nvidia-texture-tools/
/*.lnk
/cmake_build/
/platform_win32/
/platform_win64/
/tools/viewer/src/lua/builder_script.inl
/cmake64
/*.sublime-workspace
/build/build.timestamp.txt
/deploy/game
